body{
    background: #000;
}

#container{
    width: 100%;
    height: 100%;
    margin: auto;
    padding: auto;
}

#my-canvas{
    width: 100%;
    height: 100%;
    background: #000;
    border: 1px solid #fff;
}
